<div class="article__license">
    <div class="license">
        <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
            <img alt="CC Attribution-NonCommercial-ShareAlike 4.0" src="/assets/images/license-cc4.png" />
        </a>
        <p>本文遵守 <a itemprop="license" rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC
                Attribution-NonCommercial-ShareAlike 4.0</a> 许可协议。<br />欢迎转载，BY - 转载需注明出处，NC - 且禁止用于商业目的。
        </p>
    </div>
</div>