body {
  max-width: 840px;
  padding: 32px 5%;
  margin: 0 auto;
  font-family: monospace;
  /* font-family: sans-serif; */
  /* font-size: large; */
}

p {
  margin: .8em 0;
}

table {
  border-collapse: collapse;
  width: 80%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:hover {
  background-color: #efefef;
}

code {
  padding: .2em .3em;
  margin: 0 .15em;
  background-color: rgba(27,31,35,.05);
  border-radius: 5px;
  font-size: 90%;
}

blockquote {
  padding: 8px 0px;
  padding-left: 18px;
  margin-left: 0px;
  margin-right: 0px;
  /* background-color: #f0f0f0; */
  border-left: 4px solid #d6d6d6;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.center {
  padding: 2%;
  max-width: 480px;
}

.mjx-chtml {
  font-size: 105% !important;
  font-family: sans-serif;
}

.mjx-chtml.MJXc-display {
  /* overflow: auto hidden; */
}

html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  padding: .3em 0;
}

.license img {
  width: 160px;
}
