<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link
        rel="stylesheet"
        href="{{ '/assets/css/markdown.css' | relative_url }}"
    />

    <!-- Legacy: load TeX macros -->
    <!-- Now: use fetch, see below -->
    <!--
    <script
        type="text/javascript"
        src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"
    ></script>
    <script>
        $(function(){
            $("#macros_tex").load(
                "https://cdn.jsdelivr.net/gh/bryango/Templates/LaTeX/basics/macros.tex"
            );
            $("#mathjax_tex").load(
                "https://cdn.jsdelivr.net/gh/bryango/Templates/LaTeX/basics/mathjax.tex"
            );
        });
    </script>
    -->

<!-- MathJax -->
{% include mathjax/base.html %}

{% seo %}
</head>

<body>
<div class="mathjax_macros" style="display: none;">
    <script type="math/tex" id="macros_tex"></script>
    <script type="math/tex" id="mathjax_tex"></script>
</div>
<script>
    function addTeXmacros(tag, url) {
        fetch(url)
            .then(function(response) {
                return response.text();
            })
            .then(function(body) {
                document.querySelector(tag).innerHTML = body;
            })
    }
    
    addTeXmacros(
        "#macros_tex",
        "https://bryango.github.io/Templates/LaTeX/basics/macros.tex"
    );

    addTeXmacros(
        "#mathjax_tex",
        "https://bryango.github.io/Templates/LaTeX/basics/mathjax.tex"
    );
</script>

{{ content }}

</body>
</html>
