---
layout: base
---

{{ content }}

<br/>
<h2 id="path"></h2>

<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Last modified</th>
    </tr>

    {%- assign folder = '' -%}
    {%- for res in site.static_files -%}

        {%- assign checkStart = res.path | split: page.url -%}
        {%- if checkStart[0] != '' -%}
            {%- continue -%}
        {%- endif -%}

        {%- assign target = res.path | remove_first: page.url -%}
        {%- if target contains '/' -%}
            {%- assign folder_new = target | split: '/' | first -%}
            {%- if folder_new == folder -%}
                {%- continue -%}
            {%- endif -%}

            {%- assign folder = folder_new -%}
            {%- assign target = folder | append: '/' -%}
        {%- endif -%}

        <tr>
            <td><a
                class="post-link"
                href="{{ target }}"
            > {{ target }} </a></td>
            <td>{{ res.modified_time }}</td>
        </tr>
    {%- endfor -%}
</table>
