---
layout: base
---

{{ content }}

<br/>
<h2 id="path"></h2>

<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Last modified</th>
    </tr>

    {% for res in site.static_files %}
        {% if res.path contains page.url %}
        <tr>
            <td><a
                class="post-link"
                href="{{ res.path | prepend: site.baseurl }}"
            > {{ res.path | remove_first: page.url }} </a></td>
            <td>{{ res.modified_time }}</td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
