---
layout: base
---

{{ content }}

<br/>

{%- include license.html -%}

<h2 id="path"></h2>

<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Last modified</th>
    </tr>

<!-- first we list the pages under ./ -->

    <tr>
        <td>./</a></td>
        <td></td>
    </tr>

{%- for res in site.static_files -%}

    {%- assign checkStart = res.path | split: page.url -%}
    {%- if checkStart[0] != '' -%}
        {%- continue -%}
    {%- endif -%}

    {%- assign target = res.path | remove_first: page.url -%}
    {%- if target contains '/' -%}
        {%- continue -%}
    {%- endif -%}

    <tr>
        <td>&emsp; >
            <a class="post-link" href="{{ target }}" >
                {{ target | remove_first: folder  }}
            </a>
        </td>
        <td>{{ res.modified_time }}</td>
    </tr>
{%- endfor -%}

<!-- then we list the pages under sub path */ -->

{%- for res in site.static_files -%}

    {%- assign checkStart = res.path | split: page.url -%}
    {%- if checkStart[0] != '' -%}
        {%- continue -%}
    {%- endif -%}

    {%- assign target = res.path | remove_first: page.url -%}
    {%- if target contains '/' -%}
        {%- assign folder_new = target | split: '/' | first -%}
    {%- else -%}
        {%- continue -%}
    {%- endif -%}

    {%- if folder_new != folder -%}
        {%- assign folder = folder_new -%}
        <tr>
            <td>{{ folder | append: '/' }}</a></td>
            <td></td>
        </tr>
    {%- endif -%}

    <tr>
        <td>&emsp; >
            <a class="post-link" href="{{ target }}" >
                {{ target | remove_first: folder | remove_first: '/' }}
            </a>
        </td>
        <td>{{ res.modified_time }}</td>
    </tr>
{%- endfor -%}
</table>

<script>
    document.getElementById('path').innerHTML
    = "Index of " + window.location.pathname;
</script>
